
<div class="container">
    <div class="heading">
        <a class="btn btn_success" href="/">Home</a>
     </div>
     <div class="form">
         <div class="side_img"></div>
         <div class="form_container">
            <form action="/article/edit/<%= article.id %>" method="post">
                <input type="text" name="title" placeholder="Title..."
                value=<%= article.title %>  >
                <textarea name="des"  placeholder="Post..." cols="30" rows="10">
                    <%= article.des %> 
                </textarea><br>
                <textarea name="info" placeholder="More info" cols="20" rows="3">
                    <%= article.info %> 
                 </textarea>   
                    <button class="btn" type="submit">Update</button>
            </form>
         </div>
        
     </div>
</div>